In [1]:
import numpy as np 
import pandas as pd

In [4]:
s = pd.Series ([1,2,3, np.nan])
s
s[2] is float
s.isna()

0    False
1    False
2    False
3     True
dtype: bool

In [6]:
s = pd.Series ([1,2,3, np.nan], dtype="Int32")
s[3] is pd.NA
s.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4 entries, 0 to 3
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      Int32
dtypes: Int32(1)
memory usage: 152.0 bytes

In [7]:
strs = pd.Series(["one", "two", "three"], dtype="string")
strs.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3 entries, 0 to 2
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      string
dtypes: string(1)
memory usage: 156.0 bytes

In [10]:
df = pd.DataFrame({
    "A": [1,2,3],
    "B": ["one", "two", "three"],
    "C": [False, True, None]
})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      object
 2   C       2 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [11]:
df['A'] = df.A.astype("Int32")
df['B'] = df.B.astype('string')
df['C'] = df.C.astype('boolean')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      Int32
 1   B       3 non-null      string
 2   C       2 non-null      boolean
dtypes: Int32(1), boolean(1), string(1)
memory usage: 177.0 bytes

In [15]:
"{:.2f}".format(17.89545) #representation types
"{:,d}".format(1276547)
"{0} {1} {0} {2}!".format("Hello", "World", 234)

'Hello World Hello 234!'

In [19]:
sentence = '\t \n This is a test string. \t\t \n'
sentence.lstrip()
#check for lstrip and rstrip

"this is the data science".capitalize()
"""The courses in the 
catalog are: Data Science, Data Structure,
Database, data Analytics""".lower().count('data')

4

In [21]:
val = "a, b, he he he"
values = val.split(',')
print(values)
url = "https://www.google.com/usmanjoyia"
parts= url.partition('/')
print (parts)

lines = """Line 1
line 2
line 3""".splitlines(True)
print (lines)
pieces = [x.strip() for x in val.split(",")]
pieces
"--->".join(pieces)

#Use split and join in one statement to reformat the string
#'Usman Joyia' to 'Joyia, Usman'

['a', ' b', ' he he he']
('https:', '/', '/www.google.com/usmanjoyia')
['Line 1\n', 'line 2\n', 'line 3']

'a--->b--->he he he'

In [62]:
path = r'C:\Windows\users\UsmanJoyia\ds'
path

'C:\\Windows\\users\\UsmanJoyia\\ds'

In [23]:
"he" in val
val.index("a")
#some more built-in string functions
#https://www.w3schools.com/python/python_ref_string.asp
#let's have a deeper look into more of pattern matching, splitting and substituion on the go

import re

#metacharacters for pattern matching
#[] {} () \ * + ^ $ ? . | 

res = 'Valid' if re.fullmatch(r'\D{5}', 'Awais') else 'Invalid'
print (res)

#\d for digit, \D for nondigit character
#\s for whitespace \S not whitespace
#\w for alphanumeric or word \W for not word
#for custom classes use [] for single characters


# validating the name that starts with first capital 
res = 'Valid' if re.fullmatch('[A-Z]?[a-z]+', 'Usm') else 'Invalid'
print (res)

Valid
Valid

In [27]:
#* for zero or more repeatation
# + for one or more repeatation
# ^(caret) works like not! operator only in []
#otherwise it would only match to the starting character
#for the ending character only, use $
res = 'Valid' if re.fullmatch('[A-Z][a-z]+', 'Es') else 'Invalid'
print (res)
#? zero or one occurrence, {n,} for atleast occurrences
#{n,m} inclusive m for n to m length
print('Match' if re.fullmatch('labell?ed', 'labeled') else 'No match')
'Match' if re.fullmatch(r'\d{3,7}', '12345678') else 'No match'

Valid
Match

'No match'

In [61]:
#Create and test a regular expression that matches a street address
#consisting of a number with one or more digits followed by two words of one or more 
#characters each. The tokens should 
#be seperated by one space each as in 123 Main Street. 

pattern = r'\d+ [A-Z]?[a-z]+ [A-Z][a-z]+'
"Valid" if re.fullmatch(pattern, "2 Ms S") else "Invalid"

'Valid'

In [33]:

text = "foo boo alice\t bob \tqux"
re.split(r"\s+", text)

regex = re.compile(r"\s+")
regex.split(text)
regex.findall(text)
iter = regex.finditer(text)
for item in iter:
    print(item)

<callable_iterator object at 0x7f953af069e0>
<re.Match object; span=(3, 4), match=' '>
<re.Match object; span=(7, 8), match=' '>
<re.Match object; span=(13, 15), match='\t '>
<re.Match object; span=(18, 20), match=' \t'>

In [38]:
txt = "This is Data science, this is data Structure"
pattern = r'data\s\w+'
regex = re.compile(pattern, flags=re.IGNORECASE)
x = regex.findall(txt)
print (x)

['Data science', 'data Structure']

In [42]:
raw = """ Dave dave@gmail.com,
Steve steve.ad05@hotmail_.com.eu,
Starc starcie_X0@bne.edu.cn
"""
pattern = r"([A-Z0-9._%-]+)@([A-Z._]+)\.([A-Z]{2,4})"
regex = re.compile(pattern, flags=re.IGNORECASE)
mails = regex.findall(raw)
mails
#processed = regex.sub("", raw)
#print(processed)

#more practice with RegeX in python at: https://www.w3schools.com/python/python_regex.asp

[('dave', 'gmail', 'com'),
 ('steve.ad05', 'hotmail_.com', 'eu'),
 ('starcie_X0', 'bne.edu', 'cn')]

In [94]:
#https://regex101.com
#http://www.regexlib.com
#https://www.regular-expressions.info

In [43]:
zips = pd.Series({'Faisalabad': '38000', 'Chiniot':'34500'})
zips.str.match(r'\d{5}')

Faisalabad    True
Chiniot       True
dtype: bool

In [46]:
contacts = [['Blue Green', 'demo1@nu.edu.pk', '03333123456'],
            ['White Brown', 'demo2@nu.edu.pk', '03121234567']]

contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])
contactsdf

          Name            Email        Phone
0   Blue Green  demo1@nu.edu.pk  03333123456
1  White Brown  demo2@nu.edu.pk  03121234567

In [47]:
def contact_transform(x):
    pattern = r'(\d{4})(\d{7})'
    res = re.fullmatch(pattern, x)
    return "-".join(res.groups()) if res else x

contactsdf['Phone'] = contactsdf['Phone'].map(contact_transform)
contactsdf

          Name            Email         Phone
0   Blue Green  demo1@nu.edu.pk  0333-3123456
1  White Brown  demo2@nu.edu.pk  0312-1234567